.img1 {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(238, 26, 26);
}

.img2 {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(206, 32, 32);
}

.img3 {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(206, 32, 32);
}

.img4 {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(206, 32, 32);
}

.img5 {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(206, 32, 32);
}

.img6 {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(206, 32, 32);
}

.img7 {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(206, 32, 32);
}

.img8 {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(206, 32, 32);
}

.img9 {
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(206, 32, 32);
}

.google {
    border-radius: 10px;
    width: 200px;
    background-color: rgb(233, 233, 233);
    padding: 10px 10px 10px;
    border-style: dashed;
}

.g {
    border: 10px;
    border-style: double;
}

.t {
    border: 10px;
    border-style: double;
}

.w {
    border: 10px;
    border-style: double;
}

#cont {
    padding: 100px 100px 100px;
}

.outercontainer {
    width: 29rem;
    height: 29rem;
    background-color: white;
    border-style: dotted;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innercontainer {
    position: relative;
    width: 22rem;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
}

.innercontainer span {
    position: absolute;
    color: aliceblue;
    font-size: 50px;
}

.B {
    top: 30px;
    left: 60px;
    transform: rotate(315deg);
}

.M {
    top: 0px;
    left: 155px;
}

.W {
    top: 40px;
    right: 50px;
    transform: rotate(42deg);
}

.container4 {
    width: 16rem;
    height: 16rem;
    background-color: aliceblue;
    border-radius: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

.square {
    width: 100%;
}

.square-blue {
    background-color: blue;
}

.square-white {
    background-color: azure;
}